/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Quicksand:wght@300;400;500;600;700&display=swap');

.font-nistra {
    font-family: 'Borel', serif !important;
}

.font-quicksand {
    font-family: 'Quicksand', sans-serif !important;
}

.font-bold {
    font-weight: 600 !important;
}

.v-container {
    max-width: 1460px !important;
}

@media screen and (max-width: 600px) {
    .v-container {
        padding-top: 6px;
        padding-left: 3px;
        padding-right: 3px;
    }    
}

.fill-height > .v-responsive__content {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.main-div {
    width: 100%;
}

.bottom-info {
    display: flex;
    flex:1;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
}